<div class="pub-item" >
    <a href="{{pubBanner.thirdElement.url}}}" class="pub-link">
        <div class="pub-container " style="background-image: url('/assets/images/box/vitrine.jpg');">
            <div class="pub-principle" >
                <h3>Casino</h3>
                <div class="pub-description">
                    <p class="firstElement">{{pubBanner.firstElement}}</p>
                    <p class="value">{{pubBanner.value}}</p>
                    <p class="secondElement">{{pubBanner.secondElement}}</p>
                </div>
            </div>
            <div class="pub-redirect">
                <h3 class="thirdElement" >{{pubBanner.thirdElement.name}}}</h3>
            </div>
        </div>
    </a>
    
</div>