		  
		  <div class="col-md-12">
            <div class="row banner">
                <div class="col-md-9">
                  <div class="row">
                      <div class="col-md-12">
                            <app-paris-en-directe></app-paris-en-directe>
                      </div>
                  </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <div class="content-box-header">
                            <div class="panel-title ">Parier</div>
                        </div>
                        <div class="content-box-large box-with-header sponsor-container">
                            <img id='barcode' 
                            src="https://api.qrserver.com/v1/create-qr-code/?data=daraaaa&amp;size=100x100" 
                            alt="" 
                            title="HELLO"/>
                        </div>
                    </div>
                </div>
            </div>
          </div>

         


