		  
		  <div class="col-md-12">
            <div class="row banner">
                <div class="col-md-8">
                  <div class="row">
                            <app-paris-en-directe></app-paris-en-directe>
                  </div>
                </div>
                <div class="col-md-4 parie-qr-code">
                    <div class="col-md-12">
                        <div class="content-box-header">
                            <div class="panel-title ">Parier</div>
                        </div>
                        <div class="content-box-large box-with-header parie-container">
                            <div class="equipe-illumination">
                                <img src="/assets/images/br-banner-bg-decoration.png"/>
                            </div>
                            <div class="equipe-container">
                                <div class="equipe-parie">
                                    <img src="/assets/images/logopsg.png" />
                                </div>
                                <div class="equipe-parie">
                                    <img src="/assets/images/logoarsenal.png" />
                                </div>
                                <div class="qrcode">
                                    <img id='barcode' 
                                        src="https://api.qrserver.com/v1/create-qr-code/?data=daraaaa&amp;size=100x100" 
                                        alt="" 
                                        title="HELLO"
                                    />
                                </div>
                            </div>
                            
                            <div class="cote-container">
                                <div class="cote">
                                    <label>Liverpool</label>
                                    <span>2.5</span>
                                </div>
                                <div class="cote">
                                    <label>Liverpool</label>
                                    <span>2.5</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>

         


