<div class="col-md-12">
    <div id="paris-container" class="paris-container">
        <div class="paris-title-box">
            <div class="paris-title">
                Resultats des matchs
            </div>
            <div class="paris-search-bar">
                <input type="text" name="search" />
            </div>
        </div>
        <div class="paris-categorie-box">
            <div class="paris-categorie-live" [innerHTML] = "getLiveIcons() | htmlrender">
            </div>
            <div class="paris-categorie-liste"> 
                <div class="paris-categorie-item-scroller"></div>
                <div class="paris-categorie-item-container">
                    <div  [ngClass]="{'paris-categorie-item' : true, 'active' : isactive === 'tous'}"  (click)="getResultatPaginer('')"  >
                        <div class="paris-categorie-item-icons"  >
                            <img src="assets/icons/tous.png" alt="tous"/>
                        </div>
                        <div class="paris-categorie-item-name">
                           Tous
                        </div>
                    </div>   
                    <div *ngFor="let categorie of categorieList" [ngClass]="{'paris-categorie-item' : true , 'active' : isactive === categorie.nom}"   (click)="getResultatPaginer(categorie.nom)">
                        <div class="paris-categorie-item-icons" >
                            <img src="assets/icons/{{categorie.image}}" alt="{{categorie.nom}}"/>
                        </div>
                        <div class="paris-categorie-item-name">
                            {{categorie.nom}}
                        </div>
                    </div>
                </div> 
                <div class="paris-categorie-item-scroller"></div>
            </div>
        </div>
        <div class="paris-match-box" *ngFor="let resultat of resultatListPaginer">
            <div class="match-categorie-container">
                <div class="categorie-header-box">
                    <div class="categorie-icons"></div>
                    <div class="categorie-title-container">
                        <a href="#" class="categorie-title">{{resultat._id}}</a>
                        <span></span>
                    </div>
                    <div class="categorie-bet">
                            <div class="categorie-bet-equipe">Score Equipe 1</div>
                            <div class="categorie-bet-equipe categorie-bet-equipe-null"></div>
                            <div class="categorie-bet-equipe">Score Equipe 2</div>
                    </div>
                    <div class="categorie-bet">
                        <div class="categorie-bet-equipe">Cote Equipe 1</div>
                        <div class="categorie-bet-equipe categorie-bet-equipe-null"></div>
                        <div class="categorie-bet-equipe">Cote Equipe 2</div>
                    </div>
                    <div class="categorie-bet">
                        <div class="categorie-bet-equipe">Date et Heure</div>
                    </div>
                </div>
                <div class="match-box" *ngFor="let resultatcategorie of resultat.resultats">
                    <div class="match-item">
                        <div class="match-information">
                            <div class="equipe-liste-score">
                                <div class="pinned-icon">
                                    
                                </div>
                                <div class="equipe-title-container">
                                    <div class="equipe-title">
                                        <span>{{resultatcategorie.idequipe1.nom}}</span>
                                        <div class="equipe-score">
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="equipe-title">
                                        <span>{{resultatcategorie.idequipe2.nom}}</span>
                                        <div class="equipe-score">
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="match-information-details">
                                <div class="pinned-icon">
                                </div>
                                <div class="match-minute-live">
                                </div>
                                <div class="match-state">
                                </div>
                            </div>
                        </div>
                        <div class="match-bet">
                            <div class="cote-equipe">
                                <span class="cote-equipe-value">
                                    {{resultatcategorie.pointequipe1}}
                                </span>
                            </div>
                            <div class="cote-equipe cote-nul">
                                -
                            </div>
                            <div class="cote-equipe">
                                <span class="cote-equipe-value">
                                    {{resultatcategorie.pointequipe2}}
                                </span>
                            </div>
                           
                        </div>
                        <div class="match-bet">
                            <div class="cote-equipe">
                                <span class="cote-equipe-value">
                                    {{resultatcategorie.coteequipe1}}
                                </span>
                            </div>
                            <div class="cote-equipe cote-nul">
                                -
                            </div>
                            <div class="cote-equipe">
                                <span class="cote-equipe-value">
                                    {{resultatcategorie.coteequipe2}}
                                </span>
                            </div>
                        </div>
                        <div class="match-bet">
                            <div class="cote-equipe">
                                <span class="cote-equipe-value">
                                    {{resultatcategorie.date | date}}
                                </span>
                            </div>
                            <div class="cote-equipe">
                                <span class="cote-equipe-value">
                                    {{resultatcategorie.heure}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="box-body" style="display: block;">
    <div class="row" style="text-align: center">
        <label>Exporter pdf :</label> 
        <button id="btnPrint" (click)="exportPDF()">                       
            <img src="../dist/img/file_pdf.png" alt="pdf-export">
        </button>  
    </div>
</div>

<script type="text/javascript">
</script>