.content-box-large  { 
    margin-bottom: 15px;
    
}
.match-tem { 

}

.match-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.match-equipe .match-equipe-logo {
    width: 50px;
}
.match-equipe .match-equipe-logo img {
    width: 100%;
    margin-bottom: 5px;
}
.match-equipe {
    text-align: center;
}
.match-time-container {
    display: flex;
}
.match-time-container::before { 
    content : ' ';
    background-image: url(/assets/images/line.png);
    align-self: center;
    width: 79px;
    height: 16px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: -10px;
}
.match-time-container::after { 
    content: "  ";
    align-self: center;
    background-image: url(/assets/images/line-reverse.png);
    width: 79px;
    height: 16px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: -10px;
}
.match-time {
    background-image: url('/assets/images/ballon-transparent-test2.png');
    background-size: cover;
    width: 75px;
    height: 75px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: 75px ;
    padding : 5px; 
    font-size: 12px;
    overflow:hidden ;
    position: relative;
}
.match-time-ilaina { 
    background-color: rgba(255, 255, 255, 0.753);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 70px;
    overflow : hidden; 
    justify-content: center;
    align-items: center;
    position: absolute;
    top : 0 ; 
    left : 0 ; 
}
.match-pari-container {
    height: 50px;
    display: flex;
    justify-content: space-between;

}
.match-pari-point {
    background-color: gainsboro;
    width: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.match-pari-cta {
    display:flex;
    flex:1;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(28, 102, 151);
    height: inherit;
    position: relative;
    z-index : 1;
    box-shadow: 0 0 25px rgb(0 0 0 / 50%);
    cursor: pointer;
    text-decoration: none;
    color : white ; 
}
.match-pari-cta::before { 
      transform: skew(24deg);
      top : 0 ; 
      left : 0 ; 
      bottom : 1px;
}
.match-pari-cta::after {
    transform: skew(-24deg);
    top: 0 ;
    right: 0 ;
    bottom: 1px;
  
}
.match-pari-cta::before , .match-pari-cta::after {
    display: block;
    content: '';
    background-color: rgb(28, 102, 151);
    transform-origin: bottom;
    position: absolute;
    width:22px;
    z-index : -1;
}
.content-box-header {
    background-color: #4988b9;
    color:white;
    border: none;
    margin-bottom: 1px;
}