<div class="inscription-container">
    <app-button class="button-entete" [button]="enteteButton"></app-button>
    <div class="inscription-module">
        <div class="inscription-form">
            <div class="form-combinaison">
                <div class="form-group">
                    <label for="nom">Nom</label>
                    <div class="put-group">
                        <div class="input-icons">
                            <span class=" glyphicon glyphicon-chevron-left"></span>
                        </div>
                        <input type="text" classs="form-control" placeholder="nom" name="nom"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Prenom">Prenom</label>
                    <div class="put-group">
                        <div class="input-icons">
                            <span class=" glyphicon glyphicon-chevron-left"></span>
                        </div>
                        <input type="text" classs="form-control" placeholder="Prenom" name="Prenom"/>
                    </div>
                </div>
            </div>
            <div class="form-combinaison">
                <div class="form-group">
                    <label for="name">Numero</label>
                    <div class="put-group">
                        <div class="input-icons">
                            <span class=" glyphicon glyphicon-chevron-left"></span>
                        </div>
                        <input type="text" classs="form-control" placeholder="Numero" name="Numero"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Email">Email</label>
                    <div class="put-group">
                        <div class="input-icons">
                            <span class=" glyphicon glyphicon-chevron-left"></span>
                        </div>
                        <input type="text" classs="form-control" placeholder="Email" name="Email"/>
                    </div>
                </div>
            </div>
           
            <div class="form-group">
                <label for="login">Nom d'utilisateur</label>
                <div class="put-group">
                    <div class="input-icons">
                        <span class=" glyphicon glyphicon-chevron-left"></span>
                    </div>
                    <input type="text" classs="form-control" placeholder="Nom d'utilisateur" name="login"/>
                </div>
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <div class="put-group">
                    <div class="input-icons">
                        <span class=" glyphicon glyphicon-chevron-left"></span>
                    </div>
                    <input type="Password" classs="form-control" placeholder="Password" name="Password"/>
                </div>
            </div>
            
            
        </div>
        <app-button class="button-valider" [button]="validerButton"></app-button>
    </div>
</div>