<div class="content-box-large container">
    <div class="row">
        <div class="col-md-12" >
            <h4>Title 1</h4>
            Vivamus suscipit dui id tristique venenatis. Integer vitae dui egestas, ultrices augue et, luctus arcu. Sed pharetra lectus eget velit consequat, in dictum felis fringilla. Suspendisse vitae rutrum urna, quis malesuada tellus. Praesent consectetur gravida feugiat. In mi orci, malesuada sit amet lectus quis, tempor sollicitudin nibh. Nam ut nibh sit amet lorem facilisis adipiscing. Mauris condimentum ornare enim ut aliquet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus molestie massa at accumsan luctus. Aenean ultricies elementum posuere. Praesent ut felis id metus auctor egestas at id augue.    
            <br><br>
        </div> 
        <div class="col-md-12">
            <form action="" method="post">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="mail" placeholder="name@example.com">
                </div>
                <div class="form-group">
                    <label for="titre">Titre</label>
                    <input type="text" class="form-control" id="titre" placeholder="">
                </div>
                <div class="form-group">
                    <label for="body">Contenu du mail</label>
                    <textarea class="form-control"  name="message" id="" cols="30" rows="10"></textarea>
                </div>
                <input type="submit" class="btn btn-primary" value="envoyer">
            </form>
            
        </div>
    </div>
     
  </div>