.banner {
    margin-bottom: 20px;
}
.header-caroussel {
    border-style: none;
    padding: 0;
    overflow: hidden;
    height: 100%;
    border : 1px solid #1f72af ;
    background: none;
    display: none;
}
@media (min-width : 992px) {
    .header-caroussel {
        display: block;
    }
}
.header-caroussel .carousel {
    width: 100%;
    height: 100%;
}
.carousel .carousel-inner { 
    height: 100%;
}
.carousel-inner .item { 
    height: 100%;
}
.carousel-inner .item img{ 
    height: 100%;
}
.about-container {
    columns: 3;
}
.rule-container {
    color: white;
}
.about-container h4{
    color: rgb(28, 102, 151);
}
.app-pub-container { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px
}
@media (min-width : 992px) { 
    .app-pub-container { 
        padding-left: 0;
        padding-right: 0;
        margin-top: 0
    }
}

.pari-content { 
    display: flex;
    flex-direction: column;
}
@media (min-width : 992px) { 
    .pari-content { 
        flex-direction: row;
    }
}
.pari-content-details { 
    flex : 1 ;
}
.pari-content-details-item:last-child { 
    display: none ;
}
@media (min-width : 992px) { 
    .pari-content-details { 
        margin-right: 15px;
    }
    .pari-content-details-item:last-child { 
        display: block ;
    }
}
.pari-content-match { 
    min-width: 300px;
}