<div class="match-categorie-container">
    <div class="categorie-header-box">
        <div class="categorie-icons">a</div>
        <div class="categorie-title-container">
            <a href="#" class="categorie-title">Championnat du monde</a>
            <span>+</span>
        </div>
        <div class="categorie-bet">
                <div class="categorie-bet-equipe">1</div>
                <div class="categorie-bet-equipe categorie-bet-equipe-null">X</div>
                <div class="categorie-bet-equipe">2</div>
        </div>
        <div class="categorie-bet">
            <div class="categorie-bet-equipe">1</div>
            <div class="categorie-bet-equipe categorie-bet-equipe-null">X</div>
            <div class="categorie-bet-equipe">2</div>
        </div>
        <div class="categorie-bet categorie-total">
            <div class="categorie-bet-equipe">P</div>
            <div class="categorie-bet-equipe categorie-bet-equipe-null">Total</div>
            <div class="categorie-bet-equipe">M</div>
        </div>
    </div>
    <div class="match-box">
        <div class="match-item">
            <div class="match-information">
                <div class="equipe-liste-score">
                    <div class="pinned-icon">
                        a
                    </div>
                    <div class="equipe-title-container">
                        <div class="equipe-title">
                            <span>Sénegale</span>
                            <div class="equipe-score">
                                <span>2</span>
                            </div>
                        </div>
                        <div class="equipe-title">
                            <span>Liverpool</span>
                            <div class="equipe-score">
                                <span>2</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="match-information-details">
                    <div class="pinned-icon">

                    </div>
                    <div class="match-minute-live">

                    </div>
                    <div class="match-state">

                    </div>
                </div>
            </div>
            <div class="match-bet">
                <div class="cote-equipe">
                    <span class="cote-equipe-value">
                        2.03
                    </span>
                </div>
                <div class="cote-equipe cote-nul">
                    <span class="cote-equipe-value">
                        -
                    </span>
                </div>
                <div class="cote-equipe">
                    <span class="cote-equipe-value">
                        5.03
                    </span>
                </div>
            </div>
            <div class="match-bet">
                <div class="cote-equipe">
                    <span class="cote-equipe-value">
                        2.03
                    </span>
                </div>
                <div class="cote-equipe cote-nul">
                    <span class="cote-equipe-value">
                        -
                    </span>
                </div>
                <div class="cote-equipe">
                    <span class="cote-equipe-value">
                        5.03
                    </span>
                </div>
            </div>
            <div class="match-bet">
                <div class="cote-equipe">
                    <span class="cote-equipe-value">
                        2.03
                    </span>
                </div>
                <div class="cote-equipe cote-nul">
                    <span class="cote-equipe-value">
                        15.03
                    </span>
                </div>
                <div class="cote-equipe">
                    <span class="cote-equipe-value">
                        5.03
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
