<div class="col-md-12 match-categorie-container">
    <div class="categorie-header-box">
        <div class="categorie-icons">a</div>
        <div class="categorie-title-container">
            <a href="#" class="categorie-title">Championnat du monde</a>
            <span>+</span>
        </div>
        <div class="categorie-bet"></div>
        <div class="categorie-bet"></div>
        <div class="categorie-bet categorie-total"></div>
    </div>
    <div class="match-box">
        <div class="match-item">
            <div class="match-information">
                <div class="equipe-liste-score">
                    <div class="pinned-icon">

                    </div>
                    <div class="equipe-title">

                    </div>
                    <div class="equipe-score">

                    </div>
                </div>
                <div class="match-information-details">
                    <div class="pinned-icon">

                    </div>
                    <div class="match-minute-live">

                    </div>
                    <div class="match-state">

                    </div>
                </div>
            </div>
            <div class="match-bet">
                <div class="cote-equipe">
                    2.03
                </div>
                <div class="cote-equipe cote-nul">
                    15.03
                </div>
                <div class="cote-equipe">
                    5.03
                </div>
            </div>
        </div>
    </div>
</div>
