		  
		  <div class="col-md-12">
		  	<div class="row banner">
		  		<div class="col-md-8">
					<div class="row">
						<div class="col-md-12">
							<div class="content-box-large header-caroussel">
								<div id="myCarousel" class="carousel slide" data-ride="carousel">
									<!-- Indicators -->
									<ol class="carousel-indicators">
									<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
									<li data-target="#myCarousel" data-slide-to="1"></li>
									<li data-target="#myCarousel" data-slide-to="2"></li>
									</ol>
								
									<!-- Wrapper for slides -->
									<div class="carousel-inner">
									<div class="item active">
										<img src="/assets/images/banner1.png" alt="Paris"/>
									</div>
								
									<div class="item">
										<img src="/assets/images/banner2.jpg" alt="Kid play"/>
									</div>
									<div class="item">
										<img src="/assets/images/banner3.png" alt="Kid play"/>
									</div>
								
									</div>
								
									<!-- Left and right controls -->
									<a class="left carousel-control" href="#myCarousel" data-slide="prev">
									<span class="glyphicon glyphicon-chevron-left"></span>
									<span class="sr-only">Previous</span>
									</a>
									<a class="right carousel-control" href="#myCarousel" data-slide="next">
									<span class="glyphicon glyphicon-chevron-right"></span>
									<span class="sr-only">Next</span>
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<h1>Regle</h1>
							Vivamus suscipit dui id tristique venenatis. Integer vitae dui egestas, ultrices augue et, luctus arcu. Sed pharetra lectus eget velit consequat, in dictum felis fringilla. Suspendisse vitae rutrum urna, quis malesuada tellus. Praesent consectetur gravida feugiat. In mi orci, malesuada sit amet lectus quis, tempor sollicitudin nibh. Nam ut nibh sit amet lorem facilisis adipiscing. Mauris condimentum ornare enim ut aliquet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus molestie massa at accumsan luctus. Aenean ultricies elementum posuere. Praesent ut felis id metus auctor egestas at id augue.
							Praesent ut felis id metus auctor egestas at id augue.Vivamus molestie massa at accumsan luctus. Aenean ultricies elementum posuere. Praesent ut felis id metus auctor egestas at id augue.
				
						</div>
					</div>
		  		</div>

		  		<div class="col-md-4">
		  			<div class="row">
		  				<div class="col-md-12">
		  					<div class="content-box-header">
			  					<div class="panel-title">FOOTBALL . CHAMPIONNAT DE NORVÈGE. ELITESERIEN</div>
				  			</div>
				  			<div class="content-box-large box-with-header">
								<div class="match-container">
									<div class="match-equipe">
										<div class="match-equipe-logo">
											<img src="/assets/images/logopsg.png" alt="">
										</div>
										<span>PSG</span>
										
									</div>
									<div class="match-time-container">
										<div class="match-time">
											<span>12/06/21</span>
											<span>19:00</span>
										</div>
									</div>
									<div class="match-equipe">
										<div class="match-equipe-logo">
											<img src="/assets/images/logoarsenal.png" alt="">
										</div>
										<span>Arsenal</span>
									</div>
								</div>
								<div class="match-pari-container">
									<div class="match-pari-point">
										<span>2.5</span>
									</div>
									<a class="match-pari-cta">
										<span> Placer un pari</span>
									</a>
									<div class="match-pari-point">
										<span>3</span>
									</div>
									
								</div>
							</div>
		  				</div>
		  			</div>
		  			<div class="row">
						<div class="col-md-12">
							<div class="content-box-header">
								<div class="panel-title">FOOTBALL . CHAMPIONNAT DE NORVÈGE. ELITESERIEN</div>
							</div>
							<div class="content-box-large box-with-header">
							  <div class="match-container">
								  <div class="match-equipe">
									  <div class="match-equipe-logo">
										  <img src="/assets/images/logopsg.png" alt="">
									  </div>
									  <span>PSG</span>
									  
								  </div>
								  <div class="match-time-container">
									  <div class="match-time">
										  <span>12/06/21</span>
										  <span>19:00</span>
									  </div>
								  </div>
								  <div class="match-equipe">
									  <div class="match-equipe-logo">
										  <img src="/assets/images/logoarsenal.png" alt="">
									  </div>
									  <span>Arsenal</span>
								  </div>
							  </div>
							  <div class="match-pari-container">
								  <div class="match-pari-point">
									  <span>2.5</span>
								  </div>
								  <a class="match-pari-cta">
									  <span> Placer un pari</span>
								  </a>
								  <div class="match-pari-point">
									  <span>3</span>
								  </div>
								  
							  </div>
						  </div>
						</div>
		  			</div>
		  		</div>
		  	</div>

		  	<div class="row">
		  		<div class="col-md-12 panel-warning">
		  			<div class="content-box-header panel-heading">
	  					<div class="panel-title ">Sponsoring</div>
		  			</div>
		  			<div class="content-box-large box-with-header sponsor-container">
						<div class="sponsor">
							<img src="/assets/images/sponsors/chevrolet.jpg" alt="chevrolet"/>
						</div>
						<div class="sponsor">
							<img src="/assets/images/sponsors/fedex.png" alt="fedex"/>
						</div>
						<div class="sponsor">
							<img src="/assets/images/sponsors/beinsport.jpg" alt="beinsport"/>
						</div>
						<div class="sponsor">
							<img src="/assets/images/sponsors/redbull.jpg" alt="redbull"/>
						</div>
						<div class="sponsor">
							<img src="/assets/images/sponsors/samsung.png" alt="samsung"/>
						</div>
						<div class="sponsor">
							<img src="/assets/images/sponsors/valvoline.jpg" alt="valvoline"/>
						</div>

					</div>
		  		</div>
		  	</div>
			
			  <div class="content-box-large">
				<div class="panel-heading">
				  <div class="panel-title">Liste des matchs</div>
			  </div>
				<div class="panel-body">
					<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
					  <thead>
						  <tr>
							  <th>Rendering engine</th>
							  <th>Browser</th>
							  <th>Platform(s)</th>
							  <th>Engine version</th>
							  <th>CSS grade</th>
						  </tr>
					  </thead>
					  <tbody>
						  <tr class="odd gradeX">
							  <td>Trident</td>
							  <td>Internet
								   Explorer 4.0</td>
							  <td>Win 95+</td>
							  <td class="center"> 4</td>
							  <td class="center">X</td>
						  </tr>
						  <tr class="even gradeC">
							  <td>Trident</td>
							  <td>Internet
								   Explorer 5.0</td>
							  <td>Win 95+</td>
							  <td class="center">5</td>
							  <td class="center">C</td>
						  </tr>
						  <tr class="odd gradeA">
							  <td>Trident</td>
							  <td>Internet
								   Explorer 5.5</td>
							  <td>Win 95+</td>
							  <td class="center">5.5</td>
							  <td class="center">A</td>
						  </tr>
						  <tr class="even gradeA">
							  <td>Trident</td>
							  <td>Internet
								   Explorer 6</td>
							  <td>Win 98+</td>
							  <td class="center">6</td>
							  <td class="center">A</td>
						  </tr>
						  <tr class="odd gradeA">
							  <td>Trident</td>
							  <td>Internet Explorer 7</td>
							  <td>Win XP SP2+</td>
							  <td class="center">7</td>
							  <td class="center">A</td>
						  </tr>
						  <tr class="even gradeA">
							  <td>Trident</td>
							  <td>AOL browser (AOL desktop)</td>
							  <td>Win XP</td>
							  <td class="center">6</td>
							  <td class="center">A</td>
						  </tr>
						  <tr class="gradeA">
							  <td>Gecko</td>
							  <td>Firefox 1.0</td>
							  <td>Win 98+ / OSX.2+</td>
							  <td class="center">1.7</td>
							  <td class="center">A</td>
						  </tr>
						  <tr class="gradeA">
							  <td>Gecko</td>
							  <td>Firefox 1.5</td>
							  <td>Win 98+ / OSX.2+</td>
							  <td class="center">1.8</td>
							  <td class="center">A</td>
						  </tr>
						  <tr class="gradeA">
							  <td>Gecko</td>
							  <td>Firefox 2.0</td>
							  <td>Win 98+ / OSX.2+</td>
							  <td class="center">1.8</td>
							  <td class="center">A</td>
						  </tr>
						  <tr class="gradeA">
							  <td>Gecko</td>
							  <td>Firefox 3.0</td>
							  <td>Win 2k+ / OSX.3+</td>
							  <td class="center">1.9</td>
							  <td class="center">A</td>
						  </tr>
						  <tr class="gradeA">
							  <td>Gecko</td>
							  <td>Camino 1.0</td>
							  <td>OSX.2+</td>
							  <td class="center">1.8</td>
							  <td class="center">A</td>
						  </tr>
						  <tr class="gradeA">
							  <td>Gecko</td>
							  <td>Camino 1.5</td>
							  <td>OSX.3+</td>
							  <td class="center">1.8</td>
							  <td class="center">A</td>
						  </tr>
						  <tr class="gradeA">
							  <td>Gecko</td>
							  <td>Netscape 7.2</td>
							  <td>Win 95+ / Mac OS 8.6-9.2</td>
							  <td class="center">1.7</td>
							  <td class="center">A</td>
						  </tr>
						  <tr class="gradeA">
							  <td>Gecko</td>
							  <td>Netscape Browser 8</td>
							  <td>Win 98SE+</td>
							  <td class="center">1.7</td>
							  <td class="center">A</td>
						  </tr>
						  <tr class="gradeA">
							  <td>Gecko</td>
							  <td>Netscape Navigator 9</td>
							  <td>Win 98+ / OSX.2+</td>
							  <td class="center">1.8</td>
							  <td class="center">A</td>
						  </tr>
						  <tr class="gradeA">
							  <td>Gecko</td>
							  <td>Mozilla 1.0</td>
							  <td>Win 95+ / OSX.1+</td>
							  <td class="center">1</td>
							  <td class="center">A</td>
						  </tr>
						  <tr class="gradeA">
							  <td>Gecko</td>
							  <td>Mozilla 1.1</td>
							  <td>Win 95+ / OSX.1+</td>
							  <td class="center">1.1</td>
							  <td class="center">A</td>
						  </tr>
						  <tr class="gradeA">
							  <td>Gecko</td>
							  <td>Mozilla 1.2</td>
							  <td>Win 95+ / OSX.1+</td>
							  <td class="center">1.2</td>
							  <td class="center">A</td>
						  </tr>
						  <tr class="gradeA">
							  <td>Gecko</td>
							  <td>Mozilla 1.3</td>
							  <td>Win 95+ / OSX.1+</td>
							  <td class="center">1.3</td>
							  <td class="center">A</td>
						  </tr>
						  <tr class="gradeA">
							  <td>Gecko</td>
							  <td>Mozilla 1.4</td>
							  <td>Win 95+ / OSX.1+</td>
							  <td class="center">1.4</td>
							  <td class="center">A</td>
						  </tr>
						  <tr class="gradeA">
							  <td>Gecko</td>
							  <td>Mozilla 1.5</td>
							  <td>Win 95+ / OSX.1+</td>
							  <td class="center">1.5</td>
							  <td class="center">A</td>
						  </tr>
						  <tr class="gradeA">
							  <td>Gecko</td>
							  <td>Mozilla 1.6</td>
							  <td>Win 95+ / OSX.1+</td>
							  <td class="center">1.6</td>
							  <td class="center">A</td>
						  </tr>
						  <tr class="gradeA">
							  <td>Gecko</td>
							  <td>Mozilla 1.7</td>
							  <td>Win 98+ / OSX.1+</td>
							  <td class="center">1.7</td>
							  <td class="center">A</td>
						  </tr>
						  <tr class="gradeA">
							  <td>Gecko</td>
							  <td>Mozilla 1.8</td>
							  <td>Win 98+ / OSX.1+</td>
							  <td class="center">1.8</td>
							  <td class="center">A</td>
						  </tr>
						  <tr class="gradeA">
							  <td>Gecko</td>
							  <td>Seamonkey 1.1</td>
							  <td>Win 98+ / OSX.2+</td>
							  <td class="center">1.8</td>
							  <td class="center">A</td>
						  </tr>
						  <tr class="gradeA">
							  <td>Gecko</td>
							  <td>Epiphany 2.20</td>
							  <td>Gnome</td>
							  <td class="center">1.8</td>
							  <td class="center">A</td>
						  </tr>
						  <tr class="gradeA">
							  <td>Webkit</td>
							  <td>Safari 1.2</td>
							  <td>OSX.3</td>
							  <td class="center">125.5</td>
							  <td class="center">A</td>
						  </tr>
						  <tr class="gradeA">
							  <td>Webkit</td>
							  <td>Safari 1.3</td>
							  <td>OSX.3</td>
							  <td class="center">312.8</td>
							  <td class="center">A</td>
						  </tr>
						  <tr class="gradeA">
							  <td>Webkit</td>
							  <td>Safari 2.0</td>
							  <td>OSX.4+</td>
							  <td class="center">419.3</td>
							  <td class="center">A</td>
						  </tr>
						  <tr class="gradeA">
							  <td>Webkit</td>
							  <td>Safari 3.0</td>
							  <td>OSX.4+</td>
							  <td class="center">522.1</td>
							  <td class="center">A</td>
						  </tr>
						  <tr class="gradeA">
							  <td>Webkit</td>
							  <td>OmniWeb 5.5</td>
							  <td>OSX.4+</td>
							  <td class="center">420</td>
							  <td class="center">A</td>
						  </tr>
						  <tr class="gradeA">
							  <td>Webkit</td>
							  <td>iPod Touch / iPhone</td>
							  <td>iPod</td>
							  <td class="center">420.1</td>
							  <td class="center">A</td>
						  </tr>
						  <tr class="gradeA">
							  <td>Webkit</td>
							  <td>S60</td>
							  <td>S60</td>
							  <td class="center">413</td>
							  <td class="center">A</td>
						  </tr>
						  <tr class="gradeA">
							  <td>Presto</td>
							  <td>Opera 7.0</td>
							  <td>Win 95+ / OSX.1+</td>
							  <td class="center">-</td>
							  <td class="center">A</td>
						  </tr>
						  <tr class="gradeA">
							  <td>Presto</td>
							  <td>Opera 7.5</td>
							  <td>Win 95+ / OSX.2+</td>
							  <td class="center">-</td>
							  <td class="center">A</td>
						  </tr>
						  <tr class="gradeA">
							  <td>Presto</td>
							  <td>Opera 8.0</td>
							  <td>Win 95+ / OSX.2+</td>
							  <td class="center">-</td>
							  <td class="center">A</td>
						  </tr>
						  <tr class="gradeA">
							  <td>Presto</td>
							  <td>Opera 8.5</td>
							  <td>Win 95+ / OSX.2+</td>
							  <td class="center">-</td>
							  <td class="center">A</td>
						  </tr>
						  <tr class="gradeA">
							  <td>Presto</td>
							  <td>Opera 9.0</td>
							  <td>Win 95+ / OSX.3+</td>
							  <td class="center">-</td>
							  <td class="center">A</td>
						  </tr>
						  <tr class="gradeA">
							  <td>Presto</td>
							  <td>Opera 9.2</td>
							  <td>Win 88+ / OSX.3+</td>
							  <td class="center">-</td>
							  <td class="center">A</td>
						  </tr>
						  <tr class="gradeA">
							  <td>Presto</td>
							  <td>Opera 9.5</td>
							  <td>Win 88+ / OSX.3+</td>
							  <td class="center">-</td>
							  <td class="center">A</td>
						  </tr>
						  <tr class="gradeA">
							  <td>Presto</td>
							  <td>Opera for Wii</td>
							  <td>Wii</td>
							  <td class="center">-</td>
							  <td class="center">A</td>
						  </tr>
						  <tr class="gradeA">
							  <td>Presto</td>
							  <td>Nokia N800</td>
							  <td>N800</td>
							  <td class="center">-</td>
							  <td class="center">A</td>
						  </tr>
						  <tr class="gradeA">
							  <td>Presto</td>
							  <td>Nintendo DS browser</td>
							  <td>Nintendo DS</td>
							  <td class="center">8.5</td>
							  <td class="center">C/A<sup>1</sup></td>
						  </tr>
						  <tr class="gradeC">
							  <td>KHTML</td>
							  <td>Konqureror 3.1</td>
							  <td>KDE 3.1</td>
							  <td class="center">3.1</td>
							  <td class="center">C</td>
						  </tr>
						  <tr class="gradeA">
							  <td>KHTML</td>
							  <td>Konqureror 3.3</td>
							  <td>KDE 3.3</td>
							  <td class="center">3.3</td>
							  <td class="center">A</td>
						  </tr>
						  <tr class="gradeA">
							  <td>KHTML</td>
							  <td>Konqureror 3.5</td>
							  <td>KDE 3.5</td>
							  <td class="center">3.5</td>
							  <td class="center">A</td>
						  </tr>
						  <tr class="gradeX">
							  <td>Tasman</td>
							  <td>Internet Explorer 4.5</td>
							  <td>Mac OS 8-9</td>
							  <td class="center">-</td>
							  <td class="center">X</td>
						  </tr>
						  <tr class="gradeC">
							  <td>Tasman</td>
							  <td>Internet Explorer 5.1</td>
							  <td>Mac OS 7.6-9</td>
							  <td class="center">1</td>
							  <td class="center">C</td>
						  </tr>
						  <tr class="gradeC">
							  <td>Tasman</td>
							  <td>Internet Explorer 5.2</td>
							  <td>Mac OS 8-X</td>
							  <td class="center">1</td>
							  <td class="center">C</td>
						  </tr>
						  <tr class="gradeA">
							  <td>Misc</td>
							  <td>NetFront 3.1</td>
							  <td>Embedded devices</td>
							  <td class="center">-</td>
							  <td class="center">C</td>
						  </tr>
						  <tr class="gradeA">
							  <td>Misc</td>
							  <td>NetFront 3.4</td>
							  <td>Embedded devices</td>
							  <td class="center">-</td>
							  <td class="center">A</td>
						  </tr>
						  <tr class="gradeX">
							  <td>Misc</td>
							  <td>Dillo 0.8</td>
							  <td>Embedded devices</td>
							  <td class="center">-</td>
							  <td class="center">X</td>
						  </tr>
						  <tr class="gradeX">
							  <td>Misc</td>
							  <td>Links</td>
							  <td>Text only</td>
							  <td class="center">-</td>
							  <td class="center">X</td>
						  </tr>
						  <tr class="gradeX">
							  <td>Misc</td>
							  <td>Lynx</td>
							  <td>Text only</td>
							  <td class="center">-</td>
							  <td class="center">X</td>
						  </tr>
						  <tr class="gradeC">
							  <td>Misc</td>
							  <td>IE Mobile</td>
							  <td>Windows Mobile 6</td>
							  <td class="center">-</td>
							  <td class="center">C</td>
						  </tr>
						  <tr class="gradeC">
							  <td>Misc</td>
							  <td>PSP browser</td>
							  <td>PSP</td>
							  <td class="center">-</td>
							  <td class="center">C</td>
						  </tr>
						  <tr class="gradeU">
							  <td>Other browsers</td>
							  <td>All others</td>
							  <td>-</td>
							  <td class="center">-</td>
							  <td class="center">U</td>
						  </tr>
					  </tbody>
				  </table>
				</div>
			</div>


		  	<div class="content-box-large about-container">
				Vivamus suscipit dui id tristique venenatis. Integer vitae dui egestas, ultrices augue et, luctus arcu. Sed pharetra lectus eget velit consequat, in dictum felis fringilla. Suspendisse vitae rutrum urna, quis malesuada tellus. Praesent consectetur gravida feugiat. In mi orci, malesuada sit amet lectus quis, tempor sollicitudin nibh. Nam ut nibh sit amet lorem facilisis adipiscing. Mauris condimentum ornare enim ut aliquet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus molestie massa at accumsan luctus. Aenean ultricies elementum posuere. Praesent ut felis id metus auctor egestas at id augue.
				<br /><br />
				Sed gravida augue risus, in lacinia augue euismod at. Vestibulum pharetra sem nibh. Mauris a enim vel sapien dignissim commodo. Ut tristique fringilla diam, vel pulvinar ligula laoreet euismod. Curabitur sit amet pretium tortor. Nullam tincidunt ultrices metus, a cursus nulla mattis in. Ut risus lorem, fringilla vitae risus quis, ullamcorper elementum nunc. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut lobortis risus at convallis dictum. Cras luctus, leo ac vestibulum ultrices, justo mi iaculis libero, non gravida arcu erat ut augue. Ut facilisis mollis quam, ut vestibulum magna placerat eu. Integer vulputate odio a lectus tincidunt placerat viverra vel est.
				<br /><br />
				Ut non tincidunt felis. Aliquam urna lacus, dictum vitae dignissim id, molestie vel urna. Quisque et auctor eros, a vulputate nibh. Praesent et dictum risus, vitae congue arcu. In convallis urna non convallis suscipit. Etiam auctor erat nec felis laoreet fringilla. In quis tortor sit amet arcu tempus elementum. In urna tellus, accumsan eget feugiat quis, commodo sit amet dolor. Sed pharetra leo id dignissim tincidunt. Phasellus ac consectetur massa, eu feugiat enim. Phasellus a porta ipsum. Nullam sit amet erat ornare, interdum orci non, ullamcorper magna. Aenean dictum, mi vel tempus mattis, neque sem tincidunt turpis, vitae sollicitudin felis nulla in purus. Nunc vitae erat vitae nibh pellentesque adipiscing. In dignissim dolor vitae metus eleifend, at tincidunt massa luctus. Suspendisse id ligula non leo tincidunt tempor.
				<br /><br />
				Nullam vel ligula arcu. Vivamus convallis libero auctor ante imperdiet, eget adipiscing nunc egestas. Quisque suscipit egestas mi tempor ornare. Fusce a tincidunt erat. Quisque quis risus adipiscing, eleifend dolor vel, ornare risus. Curabitur leo tortor, tempor at iaculis id, elementum sed tellus. Vestibulum sagittis quis mi ut lobortis. Nullam quis mattis diam, feugiat pulvinar sem.
				<br /><br />
				Duis iaculis enim eu massa rhoncus, a aliquam lorem sollicitudin. Sed elementum, dolor sit amet interdum euismod, orci diam vestibulum leo, vel mattis justo sapien in justo. Aenean gravida dolor eu rutrum porta. Quisque mattis, justo quis lacinia pharetra, tortor eros aliquet dolor, et consectetur felis massa eget mi. Aenean dapibus leo erat, ac molestie nibh rhoncus sed. Nam pretium purus et elit convallis facilisis. Vivamus vitae dolor sit amet ante faucibus ornare eu non diam. Donec felis leo, malesuada eu lectus ac, facilisis posuere lorem.
				<br /><br />
				Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur porta eu justo non tempor. Pellentesque auctor ultrices rhoncus. Nullam ac aliquam purus. Ut eros elit, malesuada eu purus sed, lacinia imperdiet nibh. Ut vitae pretium nisl, a suscipit elit. Duis quis ornare quam, sed aliquam diam. Nulla condimentum ligula quis dolor tempus, et dictum leo mollis. Suspendisse non cursus lorem. Cras quis cursus tellus. Fusce tincidunt nisl id odio tempor placerat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed elementum arcu sed metus faucibus rhoncus. Vivamus porta lacinia nisl. Curabitur nec ornare est. Ut congue ullamcorper tortor, sit amet pulvinar lectus.
				<br /><br />
				Curabitur bibendum accumsan felis, in cursus lectus porttitor sed. Aliquam quis est sit amet libero pretium suscipit a vitae velit. Cras sollicitudin suscipit justo ac consectetur. Nam vel iaculis enim. Quisque ut tristique sem. Suspendisse feugiat dignissim nisi nec luctus. Etiam tincidunt id nulla vel mollis. Pellentesque convallis velit at luctus vulputate. Suspendisse potenti. Nam eu elementum tellus, sit amet varius tortor. Aliquam erat volutpat. In mi magna, mattis id bibendum id, viverra quis mauris.
				
		  	</div>
		  </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- jQuery UI -->
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../../assets/bootstrap/js/bootstrap.min.js"></script>

    <script src="../../assets/vendors/datatables/js/jquery.dataTables.min.js"></script>

    <script src="../../assets/vendors/datatables/dataTables.bootstrap.js"></script>

    <script src="../../assets/js/custom.js"></script>
    <script src="../../assets/js/tables.js"></script>