.banner {
    margin-bottom: 20px;
}
.header-caroussel {
    border-style: none;
    padding: 0;
    border-radius: 5px;
    overflow: hidden;
}
.header-caroussel .carousel {
    width: 100%;
}
.about-container {
    columns: 3;
}
