<div class="col-md-12">
    <div class="content-box-header">
        <div class="panel-title ">Sponsoring</div>
    </div>
    <div class="content-box-large box-with-header sponsor-container">
      <div class="sponsor">
          <img src="/assets/images/sponsors/chevrolet.jpg" alt="chevrolet"/>
      </div>
      <div class="sponsor">
          <img src="/assets/images/sponsors/fedex.png" alt="fedex"/>
      </div>
      <div class="sponsor">
          <img src="/assets/images/sponsors/beinsport.jpg" alt="beinsport"/>
      </div>
      <div class="sponsor">
          <img src="/assets/images/sponsors/redbull.jpg" alt="redbull"/>
      </div>
      <div class="sponsor">
          <img src="/assets/images/sponsors/samsung.png" alt="samsung"/>
      </div>
      <div class="sponsor">
          <img src="/assets/images/sponsors/valvoline.jpg" alt="valvoline"/>
      </div>

  </div>
</div>