
.sponsor-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}
.sponsor-container .sponsor {
 width: 100px;
}
.sponsor-container .sponsor img {
    width: 100%;
}
.content-box-header {
    background-color: #4988b9;
    color: white;
    border: none;
    margin-bottom: 0.5px;
}