<div class="col-md-12">
    <div class="paris-container">
        <div class="paris-title-box">
            <div class="paris-title">
                Resultats des matchs
            </div>
            <div class="paris-search-bar">
                <input type="text" name="search" />
            </div>
        </div>
        <div class="paris-categorie-box">
            <div class="paris-categorie-live" [innerHTML] = "getLiveIcons() | htmlrender">
            </div>
            <div class="paris-categorie-liste"> 
                <div class="paris-categorie-item-scroller"></div>
                <div class="paris-categorie-item-container">
                    <div class="paris-categorie-item active" >
                        <div class="paris-categorie-item-icons" >
                            <img src="assets/icons/tous.png" alt="tous"/>
                        </div>
                        <div class="paris-categorie-item-name">
                           Tous
                        </div>
                    </div>   
                    <div class="paris-categorie-item" *ngFor="let categorie of categorieList">
                        <div class="paris-categorie-item-icons" >
                            <img src="assets/icons/{{categorie.image}}" alt="{{categorie.nom}}"/>
                        </div>
                        <div class="paris-categorie-item-name">
                            {{categorie.nom}}
                        </div>
                    </div>
                </div> 
                <div class="paris-categorie-item-scroller"></div>
            </div>
        </div>
        <div class="paris-match-box">
            <app-match-par-categorie *ngFor="let match of matchListPaginer" [match]="match"></app-match-par-categorie>
        </div>
    </div>
</div>