<div class="col-md-12">
    <div class="paris-container">
        <div class="paris-title-box">
            <div class="paris-title">
                Liste des matchs à venir
                <button id="btnPrint" (click)="exportPDF()">                       
                    <img src="/assets/icons/file_pdf.png" alt="pdf-export">
                </button>  
            </div>
            <div class="paris-search-bar">
                <input type="text" name="search" />
            </div>
        </div>
        <div class="paris-categorie-box">
            <div class="paris-categorie-live" [innerHTML] = "getLiveIcons() | htmlrender">
            </div>
            <div class="paris-categorie-liste"> 
                <div class="paris-categorie-item-scroller"></div>
                <div class="paris-categorie-item-container">
                    <div [ngClass]="{'paris-categorie-item' : true , 'active' : isactive === 'tous'}"   (click)="getMatchPaginer('')" >
                        <div class="paris-categorie-item-icons" >
                            <img src="assets/icons/tous.png" alt="tous"/>
                        </div>
                        <div class="paris-categorie-item-name">
                           Tous
                        </div>
                    </div>   
                    <div *ngFor="let categorie of categorieList" [ngClass]="{'paris-categorie-item' : true , 'active' : isactive === categorie.nom}"   (click)="getMatchPaginer(categorie.nom)">
                        <div class="paris-categorie-item-icons" >
                            <img src="assets/icons/{{categorie.image}}" alt="{{categorie.nom}}"/>
                        </div>
                        <div class="paris-categorie-item-name">
                            {{categorie.nom}}
                        </div>
                    </div>
                </div> 
                <div class="paris-categorie-item-scroller"></div>
            </div>
        </div>
        <div class="paris-match-box" *ngFor="let match of matchListPaginer">
            <div class="match-categorie-container">
                <div class="categorie-header-box">
                    <div class="categorie-icons"></div>
                    <div class="categorie-title-container">
                        <a href="#" class="categorie-title">{{match._id}}</a>
                        <span></span>
                    </div>
                    <div class="categorie-bet">
                            <div class="categorie-bet-equipe">Cote Equipe 1</div>
                            <div class="categorie-bet-equipe categorie-bet-equipe-null">-</div>
                            <div class="categorie-bet-equipe">C. Match Null</div>
                            <div class="categorie-bet-equipe categorie-bet-equipe-null">-</div>
                            <div class="categorie-bet-equipe">Cote Equipe 2 </div>
                    </div>
                    <div class="categorie-bet">
                        <div class="categorie-bet-equipe">Date et Heure</div>
                    </div>
                </div>
                <div class="match-box" *ngFor="let matchcategorie of match.match">
                    <div class="match-item">
                        <div class="match-information">
                            <div class="equipe-liste-score">
                                <div class="pinned-icon">
                                </div>
                                <div class="equipe-title-container">
                                    <div class="equipe-title">
                                        <span>{{matchcategorie.idequipe1.nom}}</span>
                                        <div class="equipe-score">
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="equipe-title">
                                        <span>{{matchcategorie.idequipe2.nom}}</span>
                                        <div class="equipe-score">
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="match-information-details">
                                <div class="pinned-icon">
            
                                </div>
                                <div class="match-minute-live">
            
                                </div>
                                <div class="match-state">
            
                                </div>
                            </div>
                        </div>
                        <div class="match-bet">
                            <div class="cote-equipe">
                                <span class="cote-equipe-value">
                                    {{matchcategorie.coteequipe1}}
                                </span>
                            </div>
                            <div class="cote-equipe cote-nul">
                                <span class="cote-equipe-value">
                                    -
                                </span>
                            </div>
                            <div class="cote-equipe">
                                <span class="cote-equipe-value">
                                    {{matchcategorie.coteMacthNull}}
                                </span>
                            </div>
                            <div class="cote-equipe cote-nul">
                                <span class="cote-equipe-value">
                                    -
                                </span>
                            </div>
                            <div class="cote-equipe">
                                <span class="cote-equipe-value">
                                    {{matchcategorie.coteequipe2}}
                                </span>
                            </div>
                        </div>
                        <div class="match-bet">
                            <div class="cote-equipe">
                                <span class="cote-equipe-value">
                                    {{matchcategorie.date | date}}
                                </span>
                            </div>
                            <div class="cote-equipe">
                                <span class="cote-equipe-value">
                                    {{matchcategorie.heure}}
                                </span>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <div class="card-footer pb-0 pt-3">
        <nav class="pagination">
            <button mat-raised-button color="accent" (click)="premierePage()">
              Première
            </button>
            <button mat-raised-button color="accent" [disabled]="!hasPrevPage" (click)="pagePrecedente()">
              Prev
            </button>
            <button mat-raised-button color="accent" [disabled]="!hasNextPage" (click)="pageSuivante()">
              Suiv
            </button>
            <button mat-raised-button color="accent" (click)="dernierePage()">
              Dernière
            </button>
          </nav>
    </div>
</div>